<meta name="robots" content="noindex, nofollow">

<div class="top-bar d-flex justify-content-between align-items-center px-3 shadow-sm">
  <div class="d-flex align-items-center gap-2">
    <img src="../assets/logo1.png" class="logo" alt="Logo 1">
    <img src="../assets/logo2.png" class="logo" alt="Logo 2">
    <button id="menuToggle" class="toggle-btn ms-3 border-0 bg-transparent">☰</button>
  </div>
  <div><span style="color: #000; font-weight: 500;">Participant Name (Center No.)</span></div>
</div>
