<meta name="robots" content="noindex, nofollow">

<div class="sidebar text-white p-3" id="sidebarMenu">
  <h6 class="text-uppercase mb-3" style="color: gray;">Menu</h6>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a class="nav-link d-flex text-white align-items-center" href="../Dashboard/index.html" data-link="dashboard">
        <i class="bi bi-house-door-fill me-2"></i><span class="text-uppercase">Dashboard</span>
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link d-flex text-white align-items-center" href="../Lab_details/index.html" data-link="lab_details">
        <i class="bi bi-people-fill me-2"></i> Lab Details
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link d-flex text-white align-items-center" href="../Sample_status/index.html" data-link="sample_status">
        <i class="bi bi-ui-checks-grid me-2"></i> Sample Status
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link d-flex text-white align-items-center" href="../Results/index.html" data-link="results">
        <i class="bi bi-graph-up-arrow me-2"></i> Results
      </a>
    </li>
    <li class="nav-item mb-2">
      <a class="nav-link d-flex text-white align-items-center" href="#" data-link="announcements">
        <i class="bi bi-bell me-2"></i> Announcements
      </a>
    </li>
  </ul>
</div>
